body {
    margin: 0;
    overflow-y: hidden;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
    z-index: -1; 
}

.bar {
    border: solid 1px #1a1919;
    box-shadow: 0 2px 5px #1a1919, 0 2px 5px #1a1919;
}
.btn {
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    padding: 1px 5px;
    cursor: pointer;
}

.localTemperature {
    margin: 0 auto;
    color: #fff;
    background-color: #fff;
    width: 350px;
}

span {
    font-size: 2rem;
}

h3 {
    display: flex;
    background-color: #0066ff;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1a1919, 0 2px 5px #1a1919;
    padding: 3px;
}
.condition {
    margin: 0 auto;
    /* color: #000; */
    background-color: #0066ff;
    padding: 5px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1a1919, 0 2px 5px #1a1919;
}

a {
    padding: 5px;
}



